<html>
    <head>
    <title>RTSW ranks</title>
    </head>
    <body>
      <ol>
          <% for(let i=0; i<jsonNaver.length; i++){ %>
              <li>
                  <%= jsonNaver[i].searchWord %>
              </li>
          <% } %>
      </ol>
      <ol>
            <% for(let i=0; i<jsonDaum.length; i++){ %>
                <li>
                    <%= jsonDaum[i].searchWord %>
                </li>
            <% } %>
        </ol>
        <ol>
                <% for(let i=0; i<jsonZum.length; i++){ %>
                    <li>
                        <%= jsonZum[i].searchWord %>
                    </li>
                <% } %>
            </ol>
    </body>
  </html>