<html>
    <head>
    <title>RTSW ranks</title>
      <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
      <ol>
          <% for(let i=0; i<20; i++){ %>
              <li>
                  <!-- <%= searchWord[i] %> -->
              </li>
          <% } %>
      </ol>
    </body>
  </html>